.blog-content {
  padding: 30px 187px;
}

.Blog-section {
  padding: 50px;
}

.Blog-section h3 {
  padding: 10px;
  font-size: 32px;
  font-weight: 300;
}

.Blog-section img {
  width: 100%;
}

.Blog-section p b {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}

.Blog-section p {
  margin-bottom: 16px;
  text-align: justify;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .blog-content {
    padding: 3.31vh 6.51vw;
  }
  .Blog-section {
    padding: 20px;
  }

  .Blog-section h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .blog-content {
    padding: 5.305vh 11.393vw;
  }
  .Blog-section {
    padding: 40px;
  }
}
